<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AiThinkerDemoAPP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FEA04D131D6DAE2400564B06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEA04D2F1D6DAE2400564B06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEA04D3A1D6DAE2400564B06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
